.git
.gitignore
.dockerignore
Dockerfile*
.env
.env.*
!.env.example
node_modules
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
npm-debug.log
yarn-error.log
*.log*
coverage
docker-compose.override.yml
.idea
.vscode
*.md
